
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    position: relative;
    top: 0;
    left: 30px;
    margin-right: 30px;
  }
  
  .btn-warn {
    background: #FFC107;
    border-color: #FFC107;
  }
  
  .btn-warn:hover {
    background: #f8d469 !important;
  }
  